/*the fonts required for the entire application is mentioned in index.css*/

html, body{
  margin:0;
  width: 100%;
  height: 100vh;  /*view height*/
  font-family: "OpenSans-Regular";
  
}

@font-face{   /*default font size is 16px*/
  font-family: "OpenSans-Regular";
  src: url(./assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face{   /*default font size is 16px*/
  font-family: "OpenSans-Bold";
  src: url(./assets/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
}

@font-face{   /*default font size is 16px*/
  font-family: "OpenSans-SemiBold";
  src: url(./assets/fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf);
}

