.info-text{
    margin-bottom: 20px;
}

.logo{
    height: 13%;
}

.forgot-pwd-form{
    height: 70%;
}

.form-field-holder input {
    margin-bottom: 0%;
}

.pwd-details{
    font-family: CrimsonPro;
    margin-top: 2px;
    font-size: smaller;
    margin-bottom: 30px ;
}

.forgot-pwd-btn{

    margin-top: 30px;
}


